.container{
display: flex;
align-items: center;
justify-content:flex-start;
text-align: left;
}

img{
max-width: 45%;
float:left;
margin-right: 20px;
}

h1{
text-align: left;
}

p{
margin: 0;
}    
.rechts{
float: right;
height: 150px;
width: 150px;
}
.Inhalt{
border-style:outset;
width:20%;
border-color:rgb(77, 78, 78);
}
